<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="owl-carousel/owl.theme.default.min.css")
		link(rel="stylesheet", href="feedback/css/jquery.arcticmodal.css")
		link(rel="stylesheet", href="feedback/css/jquery.jgrowl.css")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/media.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		

	body
		//top-line
		.top-line
			.container
				.row
					.col-lg-3.col-md-6.col-sm-6.col-xs-12
						.top-line__contacts
							a(href="mailto:info@reen.com").top-line__email info@reen.com
							a(href="tel:+001234567890").top-line__tel +00 (123) 456 78 90
					.col-lg-2.col-lg-push-7.col-md-3.col-md-push-3.col-sm-3.col-sm-push-3.col-xs-12
						.top-line__soc
							ul.top-line__soc-list
								li.top-line__soc-item
									a(href="#").top-line__soc-link
										img(src="img/f_ic.png").top-line__soc-pic
								li.top-line__soc-item
									a(href="#").top-line__soc-link
										img(src="img/g_ic.png").top-line__soc-pic
								li.top-line__soc-item
									a(href="#").top-line__soc-link
										img(src="img/tw_ic.png").top-line__soc-pic
								li.top-line__soc-item
									a(href="#").top-line__soc-link
										img(src="img/p_ic.png").top-line__soc-pic
								li.top-line__soc-item
									a(href="#").top-line__soc-link
										img(src="img/be_ic.png").top-line__soc-pic
								li.top-line__soc-item
									a(href="#").top-line__soc-link
										img(src="img/dr_ic.png").top-line__soc-pic
		//header
		header.header
			.container
				.row
					.col-lg-2.col-md-3.col-sm-3
						a(href="#").header__logo
							img(src="img/logo.png").header__logo-pic
					.col-lg-8.col-md-9.col-sm-9.col-xs-12
						a.hidden-lg.hidden-md.hidden-sm#toggle
							span
						.header__menu#menu
							ul.header__menu-list
								li.header__menu-item
									a(href="#").header__menu-link home
								li.header__menu-item
									a(href="#").header__menu-link portfolio
								li.header__menu-item
									a(href="#").header__menu-link blog
								li.header__menu-item
									a(href="#").header__menu-link pages
								li.header__menu-item
									a(href="#").header__menu-link features
								li.header__menu-item
									a(href="#").header__menu-link mega menu
								li.header__menu-item
									a(href="#").header__menu-link contact
					.col-lg-2.col-lg-push-0.col-md-3.col-md-push-6.col-sm-4.col-sm-push-5.col-xs-11.col-xs-push-1
						.header__search
							form
								input(type="search" placeholder="")
		//top-screen
		.top-screen
			.container
				.row
					.col-lg-12
						.top-screen__title Made for Designers
						.top-screen__text Create your online portfolio in minutes with the professionally and lovingly designed REEN website template. Customize your site with versatile and easy to use features.
						a.top-screen__button.modal_btn(href="javascript:void(0);") Get started now

		//beautiful
		.beautiful
			.container
				.row
					.col-lg-12
						.beautiful__headliner Beautiful. Clean. Responsive.
						.beautiful__text REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.
				.row
					.col-lg-1
						img.beautiful__content-img(src="img/passion.png")
					.col-lg-3
						.beautiful__content-title Passion
						.beautiful__content-text Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
					.col-lg-1
						img.beautiful__content-img(src="img/lamp.png")
					.col-lg-3
						.beautiful__content-title Creativity
						.beautiful__content-text Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
					.col-lg-1
						img.beautiful__content-img(src="img/star.png")
					.col-lg-3
						.beautiful__content-title Quality
						.beautiful__content-text Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
		//Check out
		.check-out
			.container
				.row
					.col-lg-12
						.check-out__headliner Check out our latest works
						.check-out__text Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.
				.row
					.col-lg-6.col-xs-12
						.check-out__works
							a(href="javascript:void(0);").check-out__works-pic
								img.check-out__works-img(src="img/check_1.jpg")
							.check-out__works-wrapper
								.check-out__works-title Grand Motel gets an identity brushup
								.check-out__works-iden Identity
					.col-lg-6.col-xs-12
						.check-out__works
							a(href="javascript:void(0);").check-out__works-pic
								img.check-out__works-img(src="img/c.jpg")
							.check-out__works-wrapper
								.check-out__works-title Fresh branding for a creative startup
								.check-out__works-iden Identity
				.row
					.col-lg-12
						.check-out__slider.owl-corusel
							a.item(href="javascript:void(0);")
								img(src="img/carousel_1.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_2.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_3.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_4.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_1.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_2.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_3.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_4.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_1.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_2.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_3.jpg")
							a.item(href="javascript:void(0);")
								img(src="img/carousel_4.jpg")
		// Want to work 
		.want
			.container
				.row
					.col-lg-12
						.want__headliner Want to work with us?
						.want__text Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.
						.want__button-wrapper
							a.want__button.modal_btn(href="javascript:void(0);") Get in touch
		//End
		.end
			.container
				.row
					.col-lg-3
						.end__headliner Who we are
						.end__logo
						.end__text Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.
						a.end__more(href="javascript:void(0);") More about us
					.col-lg-3
						.end__headliner latest works
						.end__works
							a.end__works-link(href="javascript:void(0)")
								img.end__works-img(src="img/end_img1.jpg")
							a.end__works-link(href="javascript:void(0)")
								img.end__works-img(src="img/end_img2.jpg")
							a.end__works-link(href="javascript:void(0)")
								img.end__works-img(src="img/end_img3.jpg")
							a.end__works-link(href="javascript:void(0)")
								img.end__works-img(src="img/end_img4.jpg")
					.col-lg-3
						.end__headliner Get in touch
						.end__text Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.
						addres.end__addr 84 Street, City, State 24813
						a(href="mailto:info@reen.com").end__email info@reen.com
						a(href="tel:+001234567890").end__tel +00 (123) 456 78 90
					.col-lg-3
						.end__headliner Free updates
						.end__text Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.
						form.end__subscribe_form(action="" name="form-2")
							input.end__subscribe-mail(type="text" name="e-mail" placeholder="Enter your email address")
							input.end__feedback.feedback(type="submit" name="send" value="subscribe")
							input(type="hidden" hidden="hidden" name="forname")
		// Footer
		footer.footer
			.container
				.row
					.col-lg-3.col-md-6.col-sm-5
						.copyright © 2014 REEN. All rights reserved.
					.col-lg-4.col-lg-push-4.col-md-6
						.footer__menu.hidden-xs
							ul.footer__menu-list
								li.footer__menu-item
									a.footer__menu-link(href="javscript:void(0)") Home
								li.footer__menu-item
									a.footer__menu-link(href="javscript:void(0)") Porfolio
								li.footer__menu-item
									a.footer__menu-link(href="javscript:void(0)") Blog
								li.footer__menu-item
									a.footer__menu-link(href="javscript:void(0)") About
								li.footer__menu-item
									a.footer__menu-link(href="javscript:void(0)") Services
								li.footer__menu-item
									a.footer__menu-link(href="javscript:void(0)") Contact
						a.footer__up(href="#")

		// Modals
		div(style="display: none;")
			.box-modal#small-modal
				.modal-close.arcticmodal-close x
				.modal-content-box
					form.end__subscribe_form(action="" name="form-2")
						input.end__subscribe-mail(type="text" name="e-mail" placeholder="Enter your email address")
						input.end__feedback.feedback(type="submit" name="send" value="subscribe")
						input(type="hidden" hidden="hidden" name="forname")
		

	// Scripts

	script(src="bower/jquery/dist/jquery.min.js")
	script(src="js/main.js")
	script(src="owl-carousel/owl.carousel.js")
	script(src="feedback/js/feedback.js")
	script(src="feedback/js/jquery.arcticmodal.js")
	script(src="feedback/js/jquery.jgrowl.js")